.vertical-list {
	margin-left: 0 !important;
	.styled-checkbox, .styled-checkbox--radio {
		margin-bottom: .5em;
	}
	label {
		height: auto;
		margin-left: .5em;
	}
}
.styled-checkbox, .styled-radio {
	height: 1.5em;
	width: 1.5em;
	position: relative;
	margin-bottom: .75em;
	margin-left: .25em;
	input {
		height: 1.5em;
		width: 1.5em;
		z-index: 0;
		&:before {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			font-family: FontAwesome;
			content: "";
			opacity: 1;
			position: relative;
			display: block;
			height: 1.55em;
			width: 1.55em;
			border: 2px solid $brand-primary;
			background: white;
			border-radius: 3px;
			font-size: 11em;
		}
		&:checked:before {
				background: $brand-primary;
				text-indent: .125em;
				content: "\f00c";
				color: white;
				line-height: 1.25;
		}
	}
}

.styled-radio input:before {
	border-radius: 50%;
	top: -50%;
}
